<main class="groud bg-cover bg-center max-w-full relative">

  <div class="absolute inset-0 bg-black opacity-75"></div>
  
  <div class="flex items-center justify-center relative z-10" style="min-height: calc(100vh);">
   
    <div class="max-w-5xl flex items-center justify-center relative min-h-max gap-10 menor:flex-col-reverse">
      
      <div>
      
        <p class="font-dm text-4xl font-normal text-white p-4 text-center xdd:text-2xl">
          Lista de Tarefas
        </p>
      
        <p class="font-Gro text-2xl text-white p-4 auto:text-2xl menor:text-wrap menor:text-center xd:text-base">
          Mantenha-se organizado! Adicione, edite e acompanhe suas tarefas
          diárias com facilidade.
        </p>
      
        <div class="w-full flex items-center justify-center menor:pl-0 mb-5">
            <a routerLink="/tarefas"
            class="font-dm w-1/3 xd:w-1/2 text-center text-2xl bg-blue-600 p-2 rounded-2xl border border-black text-white shadow-[4px4px#000000] transition-all hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-[6px6px#000000] active:translate-x-1 active:translate-y-1 active:shadow-none auto:text-xl"
            >
            Começar
          </a>
        </div>
      
      </div>
      
      <div>
        <img
          src="../../../assets/img/Thinking.svg"
          alt=""
          class="max-w-md h-96 xd:max-w-full"
        />
      </div>
    </div>
  </div>
</main>
