<app-header></app-header>

<main class="groud bg-cover bg-center">



  <div class="flex items-center justify-center w-full" style="min-height: calc(100vh - 120px);">


    <div class="max-w-5xl m-5 w-full list-none rounded-xl border border-black bg-white px-5 pb-2 pt-4 dark:border-white dark:bg-zinc-950 shadow-[6px_5px_0px_0px_#000000]">
      <app-todas-tarefas *ngIf="currentView === 'todas'"></app-todas-tarefas>
      <app-favoritas-tarefas *ngIf="currentView === 'favoritas'"></app-favoritas-tarefas>
      <app-hoje-tarefas *ngIf="currentView === 'hoje'"></app-hoje-tarefas>
      <app-semana-tarefas *ngIf="currentView === 'semana'"></app-semana-tarefas>
      <app-mes-tarefas *ngIf="currentView === 'mes'"></app-mes-tarefas>
    </div>


  </div> 


</main>
<app-sidenav (toggleView)="toggleComponent($event)"></app-sidenav>
<app-footer-two></app-footer-two>