<section class="w-full">
  <p class="text-blue-950 text-3xl font-Gro font-bold p-4 text-center auto:text-2xl">
    Sabemos que não dá para lembrar de tudo
  </p>

  <div class="flex items-center justify-center relative min-h-max " style="min-height: calc(60vh);">

    <div class="flex items-center max-w-7xl auto1:flex-col">
      
      <div class="auto1:hidden">
        <p class="font-Gro text-2xl font-bold py-4 pl-1 my-2">O melhor dos dois mundos</p>
        <p class="font-Gro text-base pl-1">Agenda e calendário juntos facilitam a criação e visualização de tarefas e compromissos!</p>
        <p class="font-Gro text-2xl font-bold py-4 pl-1 my-2">Agende uma atividade para o futuro e esqueça dela agora</p>
        <p class="font-Gro text-base pl-1">Não fique vendo atividades e compromissos que ainda vão demorar para acontecer! Tenha sempre uma lista limpa dos afazeres mais próximos.</p>
      </div>

      <div class="auto1:hidden">
        <img src="../../../../../assets/img/pc.svg" alt="" class="max-w-md h-60 xr:max-w-full px-3"/>
      </div>

      <div class="auto1:hidden">
        <p class="font-Gro text-2xl font-bold py-4 pr-1 my-2">Reagende tarefas em lote com o arrastar e soltar</p>
        <p class="font-Gro text-base pr-1 mx-2">Sim! Com o Tarefas você pode reagendar tarefas em lote arrastando e soltando!</p>
        <p class="font-Gro text-2xl font-bold py-4 pr-1 my-2">Tarefas e compromissos especiais precisam de priorização.</p>
        <p class="font-Gro text-base pr-1 mx-2">Marque suas tarefas e compromissos com ESTRELA e Visualize-as de forma destacada na sua agenda do dia a dia.</p>
      </div>

      <div class="hidden auto1:w-full auto1:flex auto1:justify-center">
        <img src="../../../../../assets/img/pc.svg" alt="Computador" class="max-w-md h-96 xr:max-w-full px-3"/>
      </div>

      <div class="hidden auto1:flex auto:flex-col">
        <div>
          <p class="font-Gro text-2xl font-bold py-4 px-3 auto:text-center xr:text-lg my-2">O melhor dos dois mundos</p>
          <p class="font-Gro text-base px-3 auto:text-center xr:text-left my-2">Agenda e calendário juntos facilitam a criação e visualização de tarefas e compromissos!</p>
          <p class="font-Gro text-2xl font-bold py-4 px-3 auto:text-center xr:text-lg my-2">Agende uma atividade para o futuro e esqueça dela agora</p>
          <p class="font-Gro text-base px-3 auto:text-center xr:text-left my-2">Não fique vendo atividades e compromissos que ainda vão demorar para acontecer! Tenha sempre uma lista limpa dos afazeres mais próximos.</p>
        </div>
  
        <div>
          <p class="font-Gro text-2xl font-bold py-4 px-3 auto:text-center xr:text-lg my-2">Reagende tarefas em lote com o arrastar e soltar</p>
          <p class="font-Gro text-base px-3 auto:text-center xr:text-left my-2">Sim! Com o Tarefas você pode reagendar tarefas em lote arrastando e soltando!</p>
          <p class="font-Gro text-2xl font-bold py-4 px-3 auto:text-center xr:text-lg my-2">Tarefas e compromissos especiais precisam de priorização.</p>
          <p class="font-Gro text-base px-3 auto:text-center xr:text-left my-2">Marque suas tarefas e compromissos com ESTRELA e Visualize-as de forma destacada na sua agenda do dia a dia.</p>
        </div>
      </div>
    
    </div>

  </div>

</section>
