<section class="w-full">
  
  <div class="h-1/4 text-center">
    <h2 class="text-blue-950 text-4xl font-Gro font-bold p-4 xdd:text-lg">Funcionalidades</h2>
  </div>

  <div class="h-3/4 flex items-center justify-around auto1:justify-between auto:flex-col auto:items-stretch menor:flex-col menor:items-center menor:justify-center py-2">
      
      <div class="max-w-sm auto1:max-w-xs auto:py-3 auto:flex auto:items-center auto:max-w-full menor:flex-col">
      
        <div class="flex item-center justify-center auto:pr-5 menor:pr-0">
          <img src="../../../../../assets/img/notification.png" alt="sino" class="w-32 h-32 auto1:w-24 auto1:h-24">
        </div>
        
        <div>
          <p class="font-dm font-bold text-black text-xl py-3 text-center auto1:text-lg auto:text-start menor:text-center menor:px-2">Receba notificação das suas tarefas</p>
          <p class="font-dm font-medium text-black p-3 text-base text-center auto:text-start menor:text-center menor:px-4">Ative as noticações e receba as atualizações por email</p>
        </div>
      
      </div>

      <div class="max-w-sm auto1:max-w-xs auto:flex auto:flex-row-reverse auto:items-center auto:max-w-full auto:py-3 menor:flex-col ">
      
        <div class="flex item-center justify-center auto:pl-5 menor:pl-0">
          <img src="../../../../../assets/img/drag.png" alt="lista" class="w-32 h-32 auto1:w-24 auto1:h-24">
        </div>
      
        <div>          
          <p class="font-dm font-bold text-black text-xl py-3 text-center auto1:text-lg auto:text-start menor:text-center menor:px-2">Arraste e solte suas tarefas de uma só vez</p>
          <p class="font-dm font-medium text-black p-3 text-base text-center auto:text-start menor:text-center menor:px-4">Organize de forma personalizada a ordem de suas tarefas. Tão simples quanto isso!</p>
        </div>
      
      </div>

      <div class="max-w-sm auto1:max-w-xs auto:py-3 auto:flex auto:items-center auto:max-w-full menor:flex-col"> 
        <div class="flex item-center justify-center auto:pr-5 menor:pr-0"> 
          <img src="../../../../../assets/img/list.png" alt="lista" class="w-32 h-32 auto1:w-24 auto1:h-24"> 
        </div> 
        <div> 
          <p class="font-dm font-bold text-black text-xl py-3 text-center auto1:text-lg auto:text-start menor:text-center menor:px-2">Listas de hoje, da semana e do mês</p> 
          <p class="font-dm font-medium text-black p-3 text-base text-center auto:text-start menor:text-center menor:px-4">Visualize tarefas e compromissos em curto e médio prazo e programe-se com antecedência.</p> 
        </div> 
      </div>
    
    </div>

</section>
