<section class="groud bg-cover bg-center max-w-full relative">

  <div class="absolute inset-0 bg-black opacity-20"></div>
  
  <div class="flex items-center justify-center relative z-10">
   
    <div class="max-w-7xl flex items-center justify-center relative min-h-max" style="min-height: calc(75vh);">
      
      <div>
      
        <p class="text-blue-50 text-4xl font-Gro font-bold p-4 text-center auto:text-2xl">
          Gerencie suas tarefas pessoais e profissionais facilmente
        </p>
      
        <div class="flex items-center auto:flex-col-reverse">
          <p class="font-Gro text-xl text-white p-4 text-wrap auto:px-4 text-left">
            O sucesso começa com uma agenda bem organizada! A rotina das pessoas está mais complexa e não dá pra lembrar de tudo. O Tarefas existe para te ajudar com suas listas de tarefas e compromissos. Registre o que é importante e seja lembrado no momento necessário. Não conseguiu cumprir? Tudo bem! Reagende tarefas em lote com o arrastar e soltar. Quer ver tudo o que tem para fazer na semana? Sem problemas, liste todas as suas tarefas com um clique. Tudo isso e muito mais simples assim com o Tarefas!
          </p>
          <img
            src="../../../../../assets/img/homem.svg" alt=""
            class="max-w-md h-96 xr:max-w-full px-3"/>
        </div>
      
        <div class="w-full flex items-center justify-center p-4">
            <a routerLink="/auth"
            class="font-dm text-center text-2xl hover:bg-blue-300 bg-blue-600 p-2 rounded-2xl border border-black text-white shadow-[4px4px#000000] transition-all hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-[6px6px#000000] active:translate-x-1 active:translate-y-1 active:shadow-none auto:text-xl"
            >
            CRIAR CONTA GRATUITA
          </a>
        </div>
      
      </div>
      
      
    </div>

  </div>

</section>

