@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
	touch-action: manipulation !important;
  -ms-touch-action: manipulation !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-menu-content { padding: 0 !important; background: none !important; box-shadow: none !important; border: none !important; }

.mat-menu-content:not(:empty) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-radius: 1200px !important;
}

.mat-menu-panel {
overflow: hidden !important;
}

.mat-dialog-container  {
  box-shadow: none !important;
  background: none !important;
  
  }
  
  
  body::-webkit-scrollbar {
    width: 8px;               
  }
  
  body::-webkit-scrollbar-track {
    background: white;       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #7dd3fc;    
    border-radius: 3rem;   
  }

  .mat-calendar {
   height: 100% !important;
  }
 
  .mat-dialog-container {
    padding: 0 !important;
  }

  /*p {
    word-break: break-all !important;
  }*/

